extends layout

block content
  h1= title
  - let id = toShow._id
  - let Tshirtssize = toShow.size
  - let Tshirtscolour = toShow.color
  - let Tshirtsprice = toShow.price

  div
    div.row
      div.TshirtsAttr.mr-3 Tshirts ID is:
      div #{Tshirts_id}

    div.row
      div.TshirtsAttr.mr-3 Tshirts Size is:
      div #{Tshirtssize}

    div.row
      div.TshirtsAttr.mr-3 Tshirts Colour is: 
      div #{Tshirtscolour}

    div.row
      div.TshirtsAttr.mr-3 Tshirts Price is:
      div #{Tshirtsprice}
